body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #e37373;
}

h2 {
    color: #333;
}

input {
    width: 250px;
    height: 50px;
    font-size: 18px;
    background-color: #ca6d6d;
    border: 1px solid #bb5d5d;
    margin-bottom: 10px;
    color: #333;
}

button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: 1px solid #4CAF50;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

button.operator {
    background-color: #2196F3;
    border: 1px solid #2196F3;
}

button.operator:hover {
    background-color: #0b7dda;
}

button.operator:active {
    background-color: #0b5bdd;
}
