body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('https://www.baltana.com/files/wallpapers-3/Chocolate-Wallpaper-12560.jpg') center/cover fixed no-repeat; /* Background image */

    /* Color Palette */
    --primary-color: #592f2f; /* Dark pink */
    --secondary-color: #f5aaaa; /* White */
    --background-color: #723b3b; /* Dark pink */

    color: var(--secondary-color); /* Set text color to white */
}

.white-text {
    color: white;
}

header {
    background-color: var(--primary-color);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}

section {
    padding: 50px 0;
}

.hero {
    text-align: center;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

button {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Reduce the size of images */
img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}
